.card {
width: 200px;
height: 300px;
border: 1px solid black;
grid-row: span 6;
}

.card__healthLine {
 
  height: 30px;
  background-color: green;
  text-align: center;
}

.card__name {

}

.card__health {

}

.card__mana {

}

.card__container {

}
