.feedBack {
  max-width: 410px;
  margin: 74px auto 0 auto;
}

.feedBack__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 241, 163, 1);
    border-radius: 15px;
    background-color: white;
}

.feedBack__err {
  color: red;
}

.feedBack__stars {
  
}

.feedBack__star {
  width: 50px;
  height: 50px;
}

.feedBack__checkBoxContainer {
    display: flex;

}

.feedBack__text {
  font-size: 35px;
  color: rgba(255, 241, 163, 1);
  margin: 15px 0 0 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: normal;
}