.battle {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.battle__container {
  max-width: 600px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  /* Автоматическое размещение в колонку */
  grid-auto-flow: column dense;
  gap: 10px;
}

.battle__healthLine {
  height: 30px;
  background-color: green;
  text-align: left;
}

.battle__manaLine {
  height: 30px;
  background-color: red;
  text-align: left;
}

.battle__text {
  margin: 0;
  padding: 0;
}